@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --content-color: #f9fafb;
  --nav-color: #111827;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* background-color:var(--content-color); */
  box-sizing: border-box;
}

.home {
  max-width: 30rem;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.home-logo {
  max-width: 7.5rem;
}

.home-title {
  font-size: 2.5rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0.25rem;
  opacity: 0.9;
  letter-spacing: 1px;
}

.home-description {
  text-align: center;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.home-btn {
  padding: 0.75rem 1.5rem;
  /* font-size: 1rem; */
  border: 2px solid var(--primary-color);
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--primary-color);
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.home-btn:hover {
  transform: scale(1.1);
}

.main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "nav nav "
    "sidebar description ";
  margin: auto;
  /* width:95% */
}

.intro {
  padding: 1.5rem 0;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
}

.import-url {
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  background-color: lightblue;
  font-size: 17px;
  width: 90%;
  word-break: break-all;
  margin: auto;
}

.navigation {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: nav;
  margin-bottom: 1rem;
  /* border-bottom: 1px solid var(--gray); */
  /* background-color:var(--primary-color); */
  /* color:white;
    background-color: #121214; */
}

.brand-name {
  display: inline-flex;
  align-items: center;
  margin: 0.75rem 0;
  cursor: pointer;
}
.navbrand {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.heading {
  font-weight: 425;
  letter-spacing: 0.25px;
}

.img-logo {
  margin-left: 3rem;
  width: 2.5rem;
  padding: 0;
}

.link {
  color: black;
  text-decoration: none;
}

.navigation .link:hover {
  font-weight: 700;
}

.navigation .active {
  font-weight: 700;
}

.sidebar {
  grid-area: sidebar;
  margin: 0 auto;
  overflow-y: auto;
  height: 100vh;
  position: sticky;
  top: 5%;
}

.list-sidebar {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  text-align: center;
}

.sidebar-item {
  padding: 0.5rem 1rem;
}

.sidebar-link {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.5rem;
  /* font-weight: 400; */
}

.sidebar-link:hover {
  font-weight: bold;
  color: var(--primary-color);
}

.link-active {
  font-weight: bold;
  color: var(--primary-color);
}

.component-desc {
  display: flex;
  flex-direction: column;

  grid-area: description;
  padding: 0 2rem;
  /* background-color: var(--content-color); */
}

.avatar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.alert-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 2rem; */
}

.carbon-container {
  max-width: 100%;
  margin-top: 2rem;
}

.btn-fl {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: x-large;
  text-align: center;
  border: none;
  background-color: var(--dark-gray);
  cursor: pointer;
  margin: 1rem 0 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.footer-link:hover {
  color: var(--primary-color);
  font-weight: bold;
}

.description {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0.25px;
}

.divider {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  margin: 1rem 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .img-logo {
    margin-left: 0.5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .intro {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
  }

  .import-url {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    background-color: lightblue;
    font-size: 17px;
    width: 80%;
    word-break: break-all;
    margin: auto;
  }
}
